config LEDS_TRIGGER_BACKLIGHT_DRM
	tristate "LED backlight Trigger using DRM notifier"
	help
	  This allows LEDs to be controlled as a backlight device: they
	  turn off and on when the display is blanked and unblanked.

	  If unsure, say N.
